.img{
    height: 200px;
    width: 200px;
    margin-left: 10px;
}
#tb1,th,tr,td{
    border:2px solid black;
    padding: 10px;
    border-collapse:collapse;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  li {
    display: inline;
    
  }
  
  h2{
    text-align: center;
  }
  #ifm{
    width:1000px;
    height: 150px;
    border:1px solid black;
  }
  
    
